[Unit]
Description=Raspberry Light Service
After=network.target

[Service]
WorkingDirectory=/home/pi/main-app-service
ExecStart=/usr/local/bin/npm start
Restart=on-failure
User=pi
#Environment=PORT=8000

[Install]
WantedBy=multi-user.target
